* text=auto

*.c text eol=lf
*.h text eol=lf
*.ld text eol=lf
*.s text eol=lf
*.S text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.json text eol=lf
*.md text eol=lf
*.cfg text eol=lf
*.tcl text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
